@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav .barre_nav {
  display: grid;
  grid-template-columns: 150px 1fr 150px 150px 150px;
  grid-template-rows: 100px;
}

nav a:hover {
  border-top: #0065fc solid 2px;
}

nav a {
  padding: 40px 40px 0 40px;
}

nav .hebergements {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hebergements a {
  color: #0065fc;
}

nav .activites {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .inscrire {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inscrire a {
  font-weight: bold;
  color: #0065fc;
}

#intro {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  width: 33%;
  margin-left: 30px;
}

#intro h3 {
  margin-bottom: 2px;
  margin-top: 30px;
}

#voyage {
  display: flex;
  margin-top: 35px;
  margin-left: 30px;
}

#picto {
  background-color: #f2f2f2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3%;
}

#recherche {
  height: 43px;
  width: 15%;
  border: #f2f2f2 1px solid;
}

button {
  height: 43px;
  width: 8%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
}

#ensemble_filtres {
  display: flex;
  align-items: center;
  margin: 40px 0px 30px 30px;
}

.filtre_mot {
  font-weight: bold;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories a:hover {
  background-color: #0065fc;
  box-shadow: 0 0 19px grey;
  border: none;
}

.categories p {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 30px;
  font-weight: bold;
}

.bouton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: #f2f2f2 3px solid;
  border-left: none;
  border-radius: 52px;
  margin: 0 10px;
}

.picto {
  width: 52px;
  height: 52px;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}

#info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

#info p {
  margin: 0 12px;
}

.picto_info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #f2f2f2 2px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: #0065fc;
}

#conteneur_hebergement_populaires {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

#hebergements_marseilles {
  border-radius: 20px;
  background-color: #f2f2f2;
  border: white solid;
  margin-right: 35px;
  width: 60%;
}

#hebergements_marseilles h1 {
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.groupe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carte {
  width: 30%;
  border-radius: 20px;
  margin-bottom: 37px;
  background-color: white;
  box-shadow: 0 0 19px #d8d8d8;
}

.etoile_inactif {
  color: #f2f2f2;
}

.etoile_actif {
  color: #0065fc;
}

.photo_chambre img {
  width: 96%;
  height: 123px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.photo {
  object-fit: cover;
}

.photo_chambre {
  display: flex;
  justify-content: center;
  padding: 4px 0 0 0;
}

.carte .texte {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

.carte .etoiles {
  margin-top: 10px;
}

.plus h2 {
  margin: 15px 0 35px 25px;
}

#conteneur_lespluspopulaires {
  background-color: #f2f2f2;
  width: 36%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.titre_populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 35px 0;
}

.les_trois_cartes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.carte_pop {
  background-color: white;
  width: 83%;
  height: 27%;
  display: flex;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
}

.chambre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chambre img {
  width: 145px;
  height: 93%;
  margin: 0 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.image {
  object-fit: cover;
}

.carte_pop .texte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 14px;
}

.texte h2 {
  font-size: 1.3em;
}

#activites_marseilles {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

#activites_marseilles h1 {
  padding-bottom: 20px;
}

.conteneur_activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conteneur_activites h2 {
  margin: 15px 0 18px 20px;
  font-size: 1.2em;
}

.grande_image img {
  width: 335px;
  height: 530px;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.grande_image {
  border: solid 1px #f2f2f2;
  box-shadow: 0 0 19px #d8d8d8;
  border-radius: 30px;
}

.bloc_deux_photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pomegues img {
  width: 335px;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.pomegues {
  border: #f2f2f2 1px solid;
  box-shadow: 0 0 19px #d8d8d8;
  border-radius: 30px;
}

.frioul img {
  width: 335px;
  height: 165px;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.frioul {
  border: #f2f2f2 1px solid;
  box-shadow: 0 0 19px #d8d8d8;
  border-radius: 30px;
}

.notre_dame_longchamp img {
  width: 335px;
  height: 190px;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.notre_dame_longchamp {
  border: #f2f2f2 1px solid;
  box-shadow: #d8d8d8 0 0 19px;
  border-radius: 30px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #f2f2f2;
  margin-top: 50px;
}

.a_propos {
  margin: 20px;
}

.nos_hebergements {
  margin: 20px 0 20px 300px;
}

.assistance {
  margin: 20px 0px 20px 380px;
}

.a_propos h3 {
  margin-bottom: 15px;
}

.nos_hebergements h3 {
  margin-bottom: 15px;
}

.assistance h3 {
  margin-bottom: 15px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer p {
  margin: 8px 0 8px 0;
}

@media (max-width: 1024px) {
  #conteneur_hebergement_populaires {
    flex-direction: column-reverse;
  }

  #hebergements_marseilles {
    width: 100%;
  }

  #conteneur_lespluspopulaires {
    width: 100%;
    margin-bottom: 50px;
  }

  .les_trois_cartes {
    flex-direction: row;
    margin: 0 40px;
  }

  footer .nos_hebergements {
    margin: 20px 0 20px 205px;
  }

  footer .assistance {
    margin: 20px 0 20px 260px;
  }
}

@media (max-width: 400px) {
  nav .barre_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 250px 250px;
  }

  nav #logo {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
  }

  nav .inscrire {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav .hebergements {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #0065fc;
  }

  .hebergements a {
    color: #0065fc;
  }

  nav .activites {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px #f2f2f2;
  }
}
