@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav .barre_nav {
  display: grid;
  grid-template-columns: 150px 1fr 150px 150px 150px;
  grid-template-rows: 100px;
  margin: 0 30px;
}

nav #logo {
  display: flex;
  align-items: center;
}

nav a:hover {
  border-top: #0065fc solid 2px;
}

nav a {
  padding: 40px 40px 0 40px;
  margin-top: -38px;
  font-weight: 500;
}

nav .hebergements {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hebergements a {
  color: #0065fc;
}

nav .activites {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .inscrire {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inscrire a {
  font-weight: bold;
  color: #0065fc;
}

#intro {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-left: 30px;
}

#intro p {
  font-size: 0.9em;
}

#intro h3 {
  margin-bottom: 2px;
  margin-top: 30px;
}

#voyage {
  display: flex;
  margin-top: 35px;
  margin-left: 30px;
}

#picto_recherche {
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
}

#recherche {
  height: 43px;
  width: 30ch;
  border: #f2f2f2 1px solid;
}

#voyage button {
  height: 43px;
  width: 14ch;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
}

#voyage button i {
  display: none;
}

#ensemble_filtres {
  display: flex;
  align-items: center;
  margin: 40px 0px 30px 30px;
}

.filtre_mot {
  font-weight: bold;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories a:hover {
  box-shadow: 0 0 6px grey;
  border: none;
}

.categories p {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 30px;
  font-weight: bold;
}

.bouton {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: #f2f2f2 3px solid;
  border-left: none;
  border-radius: 52px;
  margin: 0 15px;
  height: 43px;
}

.picto {
  width: 44px;
  height: 44px;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
}

#info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

#info p {
  margin: 0 12px;
}

.picto_info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #f2f2f2 2px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  color: #0065fc;
}

#conteneur_hebergement_populaires {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

#hebergements_marseilles {
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-right: 35px;
  width: 62%;
}

#hebergements_marseilles h1 {
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.groupe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carte {
  width: 31%;
  border-radius: 20px;
  margin-bottom: 37px;
  background-color: white;
  box-shadow: 0 0 19px #d8d8d8;
  height: 218px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.etoile_inactif {
  color: #f2f2f2;
}

.etoile_actif {
  color: #0065fc;
}

.photo_chambre img {
  width: 100%;
  height: 123px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 5px 7px;
}

.photo {
  object-fit: cover;
}

.photo_chambre {
  display: flex;
  justify-content: center;
}

.carte .texte {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

.carte .etoiles {
  margin-top: 8px;
}

.plus h2 {
  margin: 15px 0 35px 25px;
}

#conteneur_lespluspopulaires {
  background-color: #f2f2f2;
  width: 34%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.titre_populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 35px 0;
}

.les_trois_cartes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.carte_pop {
  background-color: white;
  width: 83%;
  height: 27%;
  display: flex;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.chambre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chambre img {
  width: 145px;
  height: 100%;
  margin: 6px 6px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.image {
  object-fit: cover;
}

.carte_pop .texte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 14px;
}

.texte h2 {
  font-size: 1.3em;
}

#activites_marseilles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  grid-template-rows: auto 200px 50px 50px 50px 200px;
  margin: 60px 30px 60px 30px;
}

.titre_activites {
  grid-column: 1/5;
  margin-bottom: 30px;
}

.carte_vieux_port {
  grid-column: 1/2;
  grid-row: 2/7;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
}

.photo_activites {
  position: relative;
  flex: auto;
}

.photo_activites img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

#activites_marseilles h3 {
  margin: 20px;
}

.carte_pomegues {
  grid-column: 2/3;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
}

.carte_frioult {
  grid-column: 2/3;
  grid-row: 6/7;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
}

.carte_calanques {
  grid-column: 3/4;
  grid-row: 2/7;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
}

.carte_notre_dame {
  grid-column: 4/5;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
}

.carte_longchamp {
  grid-column: 4/5;
  grid-row: 5/7;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 19px #d8d8d8;
}

footer {
  display: flex;
  align-items: baseline;
  background-color: #f2f2f2;
  margin-top: 50px;
}

.a_propos {
  margin: 20px;
}

.nos_hebergements {
  margin: 20px 0 20px 300px;
}

.assistance {
  margin: 20px 0px 20px 380px;
}

.a_propos h3 {
  margin-bottom: 15px;
}

.nos_hebergements h3 {
  margin-bottom: 15px;
}

.assistance h3 {
  margin-bottom: 15px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer p {
  margin: 8px 0 8px 0;
}

@media screen and (max-width: 1520px) {
  #conteneur_hebergement_populaires {
    flex-direction: column;
  }

  #hebergements_marseilles {
    width: 100%;
  }

  .carte {
    width: 370px;
    height: 300px;
  }

  .photo_chambre img {
    height: 200px;
  }

  #conteneur_lespluspopulaires {
    width: 100%;
  }

  .les_trois_cartes {
    flex-direction: row;
  }

  .carte_pop {
    width: 300px;
    height: 300px;
    flex-direction: column;
    margin: 20px;
  }

  .chambre {
    align-items: center;
  }

  .chambre img {
    width: 290px;
    height: 180px;
    margin-top: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
  }

  .nos_hebergements {
    margin-left: 100px;
  }

  .assistance {
    margin-left: 200px;
  }
}

@media screen and (max-width: 1024px) {
  nav a {
    padding: 40px 0 0 0;
  }

  .bouton {
    margin: 15px;
  }

  .filtre_mot {
    margin-right: 35px;
  }

  #conteneur_hebergement_populaires {
    flex-direction: column-reverse;
    margin-left: 0;
    margin-right: 0;
  }

  #hebergements_marseilles {
    width: 100%;
  }

  .groupe {
    flex-direction: column;
  }

  .carte {
    width: 60%;
    height: 250px;
  }

  .photo_chambre img {
    height: 160px;
  }

  #conteneur_lespluspopulaires {
    width: 100%;
    margin-bottom: 50px;
  }

  .les_trois_cartes {
    flex-wrap: wrap;
  }

  .carte_pop {
    width: 48%;
    height: 280px;
    margin: 10px;
  }

  .chambre img {
    width: 97%;
    height: 160px;
  }

  #activites_marseilles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(4, 200px);
    column-gap: 40px;
    row-gap: 20px;
  }

  .titre_activites {
    margin-bottom: 12px;
    grid-column: 1/3;
  }

  .carte_vieux_port {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .carte_pomegues {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .carte_frioult {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .carte_calanques {
    grid-column: 1/2;
    grid-row: 4/6;
  }

  .carte_notre_dame {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .carte_longchamp {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  footer {
    flex-direction: column;
  }

  .a_propos {
    margin: 20px 0 0 200px;
  }

  .nos_hebergements {
    margin: 40px 0 0 200px;
  }

  .assistance {
    margin: 40px 0 0 200px;
  }
}

@media screen and (max-width: 600px) {
  nav .barre_nav {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 70px);
    margin: 0;
  }

  nav #logo {
    margin-left: 30px;
  }

  nav .inscrire {
    justify-content: flex-end;
  }

  nav .hebergements {
    grid-column: 1/2;
    grid-row: 2/3;
    border-bottom: solid 3px #0065fc;
  }

  nav .activites {
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom: solid 3px #f2f2f2;
  }

  #intro {
    margin-left: 41px;
    margin-right: 41px;
  }

  #voyage {
    margin-left: 35px;
    margin-right: 55px;
  }

  #voyage button {
    width: 6ch;
    border-radius: 15px;
    margin-left: -3%;
  }

  #voyage button i {
    display: inline;
  }

  #voyage button span {
    display: none;
  }

  #ensemble_filtres {
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .filtre_mot {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .bouton {
    margin: 5px;
  }

  #hebergements_marseilles {
    background-color: white;
  }

  #hebergements_marseilles h1 {
    padding-top: 35px;
  }

  .carte {
    width: 98%;
    height: 218px;
    margin-bottom: 15px;
  }

  .photo_chambre img {
    height: 123px;
  }

  #conteneur_lespluspopulaires {
    margin-bottom: 0;
    border-radius: 0;
  }

  .titre_populaire {
    margin-bottom: 20px;
  }

  .les_trois_cartes {
    margin-bottom: 30px;
  }

  .carte_pop {
    width: 98%;
    height: 140px;
    flex-direction: row;
    margin: 5px 17px 5px 17px;
    border-radius: 20px;
  }

  .chambre img {
    width: 126px;
    height: 154px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    margin: 4px 4px;
  }

  #activites_marseilles {
    display: grid;
    grid-template-rows: auto repeat(6, 180px);
    row-gap: 20px;
  }

  .titre_activites {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .carte_vieux_port {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .carte_pomegues {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .carte_frioult {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .carte_calanques {
    grid-column: 1/3;
    grid-row: 5/6;
  }

  .carte_notre_dame {
    grid-column: 1/3;
    grid-row: 6/7;
  }

  .carte_longchamp {
    grid-column: 1/3;
    grid-row: 7/8;
  }

  footer .a_propos {
    margin: 10px 0 30px 30px;
  }

  footer .nos_hebergements {
    margin: 0 0 30px 30px;
  }

  footer .assistance {
    margin: 0 0 0 30px;
  }
}
